body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  }

  h2,span {
    color: #426696;
    font-weight: 200;

    opacity: 0.8;
  }
  
  #main {
    border-radius: 10px;
    width: 80%;
    margin: 20px auto;
    display: flex;
    min-height: 80vh;
    background: linear-gradient(to right bottom, rgba(255,255, 255, 0.7),rgba(255,255, 255, 0.3));
  }
  
  .personal_facts {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: linear-gradient(to right bottom, rgba(255,255, 255, 0.5),rgba(255,255, 255, 0.3));
  }
  
  .technologies_facts {
    flex:2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 10px 10px 0;
  }
 
 #image {
   width: 100%;
   height: auto;
 } 


  .cards {
    margin-top: 20px;
    width: 90%;
    display: flex;
    flex-direction: inherit;
    padding: 10px auto;
  }
  
  .card {
     display: flex;
     width: 95%;
     border-radius: 1rem;
     margin: 2rem auto;
     padding: 1rem;
     background: linear-gradient(to left top, rgba(255,255,255,0.8), rgba(255,255,255,0.5));
     box-shadow: 6px 6px 20px rgba(122,122, 122, 0.212);
     justify-content: space-between;
  }
  
  .card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .percentage {
    font-weight: bold;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  #tribute-info {
    width: 80%;
    text-align: center;
    margin: 10px auto;
  }

  .links {
    width: 60%;
    display: flex;
    justify-content: space-between;
  }


  /* mobile screens   */
  @media only screen and (max-width: 600px) {
    
    #main {
      flex-direction: column;
    }

    .links {
      margin-bottom: 1.4rem;
    }

  }
  
  /* tablet screens   */
  @media only screen and (max-width: 1024px) {
    #main {
      flex-direction: column;
    }

    .links {
      margin-bottom: 1.4rem;
    }

    .img-responsive {
       width: 15%;
       heigth: auto;
    }

  }
